
body{
    border: 0 rem;
    height:0.063 rem;
    background-color: #FFA500;
    margin: 1.25 rem;

    font-family:  sans-serif;
    margin:1.3 rem
}
h1{
    background-color: #0000ff;
    padding: 0.625 rem;
    text-align: center;
    color: green;
}


.navbar ul{
    list-style-type: none;
    padding: 0 rem;

}



img{
    margin:0.625 rem ;
}

